.post-type-document .acf-settings-wrap > h1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.post-type-document .acf-settings-wrap > h1 .button {
  top: 0;
}
.post-type-document .acf-settings-wrap > h1 .button:active {
  margin-left: unset;
}
.post-type-document #minor-publishing-actions {
  display: none;
}
.post-type-document #post-visibility-select br {
  display: none;
}
.post-type-document #post-visibility-select label[for=visibility-radio-public] small,
.post-type-document #post-visibility-select label[for=visibility-radio-private] small {
  display: block;
  font-size: 0.9em;
  font-style: italic;
  margin-block-end: 0.5rem;
  margin-inline-start: 1.5rem;
  line-height: 1.3;
}
.post-type-document #post-visibility-select input#visibility-radio-password,
.post-type-document #post-visibility-select label[for=visibility-radio-password] {
  display: none;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

#acf-group_simple-document-portal__document-access-settings {
  container-type: inline-size;
}
@container (width >= 400px) {
  #acf-group_simple-document-portal__document-access-settings .acf-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@container (width >= 600px) {
  #acf-group_simple-document-portal__document-access-settings .acf-fields {
    grid-template-columns: repeat(3, 1fr);
  }
}
@container (width >= 800px) {
  #acf-group_simple-document-portal__document-access-settings .acf-fields {
    grid-template-columns: repeat(5, 1fr);
  }
}
#acf-group_simple-document-portal__document-access-settings .acf-fields .acf-field-message {
  grid-column: 1/-1;
}

body.wp-admin.edit-tags-php select#parent,
body.wp-admin.term-php select#parent {
  width: 100%;
}
body.wp-admin.edit-tags-php th.acf-label[scope=row] label,
body.wp-admin.term-php th.acf-label[scope=row] label {
  font-weight: inherit;
}
body.wp-admin.edit-tags-php .form-table input, body.wp-admin.edit-tags-php .form-table select, body.wp-admin.edit-tags-php .form-table textarea,
body.wp-admin.term-php .form-table input,
body.wp-admin.term-php .form-table select,
body.wp-admin.term-php .form-table textarea {
  width: 100%;
  max-width: 100%;
}

body.wp-admin.edit-tags-php .wp-list-table th#prefix {
  width: 5rem;
}
body.wp-admin.edit-tags-php .wp-list-table td.column-prefix {
  font-weight: 600;
  font-size: 14px;
}

body.wp-admin.term-php #acf-form-data + h2 {
  display: none;
}

.edit-tag-actions {
  display: flex;
  justify-content: flex-end;
  padding-inline: 0.5rem;
}
.edit-tag-actions .spinner {
  order: -1;
}

.acf-field .acf-label:not(:has(.description)) {
  margin-bottom: 0;
}
.acf-field .acf-label label {
  font-weight: bold;
}
.acf-field .acf-label .description {
  margin-top: 0;
}

.acf-field-message .acf-input p:first-child {
  margin-top: 0;
}
.acf-field-message .acf-input p:last-child {
  margin-bottom: 0;
}

#acf-group_simple-document-portal__general-settings .acf-field-layout-switch-breakpoint {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  padding: 0.5rem;
}
#acf-group_simple-document-portal__general-settings .acf-field-layout-switch-breakpoint:before {
  display: none;
}
#acf-group_simple-document-portal__general-settings .acf-field-layout-switch-breakpoint .acf-label {
  display: contents;
}
#acf-group_simple-document-portal__general-settings .acf-field-layout-switch-breakpoint .acf-label label {
  grid-row: span 2;
  grid-column: span 1;
  align-content: center;
}
#acf-group_simple-document-portal__general-settings .acf-field-layout-switch-breakpoint .acf-label .description {
  order: 3;
  grid-column: 1/-1;
  padding-block-start: 0.25rem;
}
#acf-group_simple-document-portal__general-settings .acf-field-layout-switch-breakpoint .acf-input {
  grid-column: span 4;
  width: unset;
  padding: 0;
}

#acf-group_folder-management-fields .acf-field-repeater.acf-field-folders .acf-row-handle:first-child {
  display: none;
  pointer-events: none;
}
#acf-group_folder-management-fields .acf-field-repeater.acf-field-folders .acf-row-handle [data-event=add-row] {
  display: none;
  pointer-events: none;
}

#acf-group_folder-management-fields .acf-field input[readonly=readonly] {
  pointer-events: none;
  opacity: 0.5;
}

/*# sourceMappingURL=admin-style.css.map */
