<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="/vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="bootstrap.php"
>
    <php>
        <env name="XDEBUG_MODE" value="coverage"/>
    </php>
    <testsuites>
        <testsuite name="E2E">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <exclude>
            <directory>vendor</directory>
            <directory>node_modules</directory>
        </exclude>
    </source>
</phpunit>
